  body{
    margin: 0;
    background: rgb(255, 182, 193);
    font-family: 'Roboto', sans-serif;
  }
   
   
   
   /*导航的原始固顶样式*/
    .header
    {
        position: fixed;
        text-align: center;
        width: 120px;
        height: 50px;
        border-radius: 25px;

        background:rgb(255, 105, 180);
        color: #fff;
        line-height: 44px;
        font-size: 18px;
    }
    /*导航常规CSS*/
    .headroom
    {
        top: 0px;
        /*延时*/
        transition: all 1s;
    }
    /*导航下滚CSS*/
    .headroom--unpinned
    {
        top: -100px;
    }
    /*导航上滚CSS*/
    .headroom--pinned
    {
        top: 0px;
    }
    h1{
        position: absolute;
        top: 50px;
        left: 50px;
        color: #fff;
        font-size: 20px;
    }
    .gridbox{
        width: 100%;
       
        color:#fff;
        display: grid;
        grid-template-columns: 340px ;
        grid-template-rows: 200px  220px  220px  220px  220px  220px  220px  200px  220px  220px  220px  220px  220px  220px;
        column-gap: 20px; 
        row-gap: 40px;
        position: absolute;
        top: 180px;
        
    }
    .gridbox>div{
        
       
        margin-left: 60px;
        
        border-width: 1px;
        
    }
    .gridbox>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    .gridbox>div>p{
        margin-top: 10px;
    }
    .body
    {
        padding: 1000px 40px ;
        text-align: center;
        background: rgb(255, 182, 193);
    }
